/* styles.css */
body, html {
  height: 100%;
  font-family: "DM Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
  background-color: #dff3ff; 
  color: #464646;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;  
  text-align: left;  
  padding: 20px; 
  padding-top: 5px;
  z-index: 100;
  position: relative;
}

.container-top {
  overflow: visible;
  width: 80%;
  max-width: 960px;
  min-width: 960px;
  padding: 50px;
  text-align: center;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.main-content p {
  color: #333;
}

.site-logo {
  font-size: 50px;
  color: #369bdb;
  text-align: left;
  margin: 0;
  margin-left: 10px;
  margin-top: 50px; 
  margin-bottom: -10px;
  animation: colorChange 1s infinite;
}

.site-slogan {
  font-size: 15px;
  color: #85c1e6;
  text-align: left;
  margin: 0;
  margin-left: 15px; 
  margin-bottom: 15px;
  padding-top: 10px;
  line-height: 1;

}


nav {
  width: 100%;
  text-align: left;
  z-index: 5;
  position: relative; /
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  display: flex;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #8b8b8b; 
  font-weight: bold; 
  font-size: 16px;
  padding: 0 15px;
  margin-top: 10px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
  align-items: center;
  display: flex;
}

nav ul li a:hover {
  border-bottom-color: #369bdb;
  color: #369bdb;
}


.general-paragraph {
  margin-bottom: 80px;
  animation: fadeIn 5s;
}

.error-paragraph {
  margin-bottom: 30px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.image-column {
  flex: 1;
  text-align: center;
  padding: 10px;
  max-width: 200px;
}

.images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
  animation: fadeIn 5s;
}

.title {
  font-size: 24px;
  color: #369bdb;
  margin-bottom: 20px;
  animation: fadeIn 5s;
}

.errortitle {
  font-size: 24px;
  color: #dc2222;
  margin-bottom: 20px;
  animation: redChange 1s infinite;
}

.names {
  margin: 0;
  animation: colorChange 1s infinite;
}

.description {
  font-size: 12px;
  color: #333;
  line-height: 1.6;
}

footer {
  font-size: 12px;
  color: #333; 
  background-color: transparent; 
  text-align: left;
  padding: 50px 0;
  margin-top: 0px; 
  margin-left: 15px;
}


/* Animations */
@keyframes colorChange {
  0% { color: #369bdb; }
  50% { color: #f0a148; }
  100% { color: #369bdb; }
}

@keyframes redChange {
  0% { color: #dc2222; }
  50% { color: #ffa7a7; }
  100% { color: #dc2222; }
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

.error-container {
  overflow: visible;
  width: 80%;
  max-width: 640px;
  padding: 50px;
  /*background: #ffffff; 
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);*/
  text-align: center;
}

.left-column, .right-column {
  font-optical-sizing: auto;
  font-weight: 20;
  font-style: normal;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-column {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: left;
}

.error-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.error-title {
  font-size: 80px;
  color: #a3a1a1;
  margin-bottom: 50px;
  text-align: left;
}

.error-subtitle {
  font-size: 15px;
  color: #a3a1a1;
  margin-bottom: -10px;
  text-align: left;
}

.column-blog {
  flex: 1;
  padding: 0px;
}

.blog-post {
  text-align: left;
  background: transparent;
  padding: 20px;
}

.blog-post h3, .blog-post h4 {
  color: #a3a1a1;
}

.blog-post p {
  color: #333;
}

pre {
  background-color: #333;
  padding: 10px;
  overflow: auto;
}

code {
  font-family: 'Courier New', Courier, monospace;
  color: #2bbc8a;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2bbc8a; 
  color: #333; 
  text-align: center;
  text-decoration: none; 
  border-radius: 25px; 
  font-family: "DM Mono", monospace;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: bold; 
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;  
  border: none; 
}

.button-link:hover, .button-link:focus {
  background-color: #229472; 
  color: #ffffff; 
  text-decoration: none; 
}

.input-text {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: 2px solid #2bbc8a;
  font-size: 16px;
  color: #333;
}



